h3 {
text-align: center;
}




figure p {
margin-bottom: -20px;
}

figure {
text-align: center;
float: left;
}

p {
font-size: 22px;
}

div {
white-space: pre;
}

h4 {
text-align: center;
}

.card-text {
font-size: 18px;
}

.card {
margin: 1.5em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }